<div class="dex-infos">
    <strong class="poke-name">{{ globalFunctions.capFirstLetter(pokemonService.pokemon.name) }}</strong>
    <strong class="poke-number">#{{ globalFunctions.padWithLeadingZeros(pokemonService.pokemon.id, 4) }}</strong>
</div>
<div class="poke-infos">
    <img class="poke-img" [src]="getPokemonImage()" /><br />
    <div class="basic-infos">    
        <div class="base-infos one">
            <label class="first-row"><b>Height</b></label><br />
            <b>{{ globalFunctions.unitConversion('deci', pokemonService.pokemon.height) }}</b><br />
            <label class="second-row"><b>Weight</b></label><br />
            <b>{{ globalFunctions.unitConversion('hect', pokemonService.pokemon.weight) }} lbs</b>
            <label class="third-row"><b>Ability</b></label><br />
            <b>{{ globalFunctions.capFirstLetter( pokemonService.pokemon.abilities[0].ability.name ) }}</b>
        </div>
        <div class="base-infos two">
            <label class="first-row"><b>Base Experience</b></label><br />
            <b>{{ pokemonService.pokemon.base_experience }} xp</b><br />
        </div>
    </div>
    
</div>